body {
  background-color:#F1F2F7;
  margin: 0;
}
.headercontent {
  background-image: url("bureau.jpg");
  height: 727px;
}
.container {
  background-color: rgba(26, 188, 156, 0.8);
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
}
.container h1 {
  color: #FFF;
  font-size: 50px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  line-height: 60px;
  margin: 0;
  padding-top: 2em;
}
.container p {
  font-size: 3em;
}
.container h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
.sociallinks {
  margin: 0 auto;
  padding: 50px 30px 0 30px;
  text-align: center;
}
.sociallinks li {
  display: inline-block;
  width: 4em;
  border-radius: 50%;
}
.sociallinks li:hover {
  background-color: #fff;
  transition: 2s;
}
.sectionheading {
  background: #FFF;
  box-shadow: 0px 3px 3px 0px rgba( 1, 2, 2, 0.05);
  padding: 30px 0;
  margin-bottom: 60px;
}
.sectionheading h2 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #a8aab3;
  font-size: 33px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
}
.imgbox {
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  width: 30%;
  margin-right: 40px;
}
.storybox span {
  color:red;
}
.profilbox {
  background: #FFF;
  border-radius: 5px;
  padding: 30px;
  width: 50%;
}
.skills {
  margin-bottom: 30px;
  align-content: space-around;
  justify-content: center;
  display: flex;
  width: 100%;
}
.design {
 background: #fff;
 border-radius: 5px;
 padding: 30px;
 margin-bottom: 20px;
 margin-left: 15em;
}
.skillsbox {
  background: #fff;
  border-radius: 5px;
  padding: 30px;
}
.skillsbox h2 {
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 45px;
  color: #32323a;
}
.design h2 {
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32323a;
}
.barre {
	width: 300px;
	background: grey;
	border: 2px solid grey;
	position: relative;
	height: 10px;
}
.barre:after {
	content: "";
	position: absolute;
	background: orange;
	left: 0;
	top: 0;
	bottom: 0;
}
.barre[data-length="20"]:after { width: 50% }
.barre[data-length="30"]:after { width: 70% }
.barre[data-length="50"]:after { width: 60% }
.barre[data-length="80"]:after { width: 90% }
.xp1 {
  background: #FFF;
  border-radius: 4px;
  padding: 30px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  margin-left: 15em;
  margin-right: 15em;
}
.educationbox {
  display: flex;
  width: 100em;
}
.educationbox1 {
  margin-right: 5em;
  position: relative;
  background: #FFF;
  padding: 30px;
  padding-top: 70px;
  margin-bottom: 90px;
  float left;
  margin-left: 5em;
}
.educationbox2 {
  margin-right: 5em;
  position: relative;
  background: #FFF;
  padding: 30px;
  padding-top: 70px;
  margin-bottom: 90px;

}
.educationbox3 {
  margin-right: 5em;
  position: relative;
  background: #FFF;
  padding: 30px;
  padding-top: 70px;
  margin-bottom: 90px;
}
.menuportfolio li {
  display:inline-block;
  border-radius: 4px;
  padding: 0.5em;
  background-color: white;

}
.menuportfolio a {
  text-decoration: none;
  color: #a8aab3;
}
.menuportfolio a:hover{
  color: #1FB4AB;
}
.menuportfolio ul {

  text-align: center;
}
.designationname {
  float:left;
}
.designationname p{
  color: #333;
  }
.time {
  background-color: #FEDE7B;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 25px;
  width: 145px;
  height: 125px;
  border-radius: 50%;
  text-align: center;
  border: 10px solid #f1f2f7;
  position: absolute;
  top: -8px;
  left: 30%;
}
.xpp {
  margin-left: 37em;
  font-size: 14px;
  color: #333;
}
.edutitle {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32323a;
  text-align: center;
}
.class {
  font-size: 16px;
  font-weight: 500;
  color: #808080;
  text-align: center;
}
.time2 {
  background-color: #FEDE7B;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 25px;
  width: 100px;
  height: 75px;
  border-radius: 50%;
  text-align: center;
  border: 10px solid #f1f2f7;
  position: absolute;
  top: -50px;
  left: 35%;
}
.time2 p {
  margin-top: 0em;
}
.photofolio {
  text-align: center;
  margin: 5em;
}
.clientbox1 {
  position: relative;
  background: #FFF;
  padding: 30px;
  padding-top: 70px;
  min-height: 390px;
  border-radius: 10px;
  width: 50%;
  margin-right: 80px;
  margin-left: 80px;
}
.clientbox1 img {
  border-radius: 50%;
  border: 5px solid #f1f2f7;
  display: block;
  margin: 0 auto;
  width: 30%;
  margin-top: -3em;
}
.clientbox1 h3 {
  text-align: center;
}
.clientbox1 span {
  color: #808080;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}
.clientbox2 {
  position: relative;
  background: #FFF;
  padding: 30px;
  padding-top: 70px;
  min-height: 390px;
  border-radius: 10px;
  width: 50%;
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;
}
.contactbox {
  position: relative;
  background: #FFF;
  padding: 30px;
  padding-top: 70px;
  margin-bottom: 90px;
  min-height: 390px;
  border-radius: 10px;
  margin-right: 30px;
  width: 50%;
}
.contactbox h2 {
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 45px;
  color: #32323a;
}
.copyright {
  text-align: right;
  margin-right: 15em;
}
.copyright a {
  text-decoration: none;
  color: #1FB5AC;
}
.detailsbox {
  background: #FFF;
  border-radius: 5px;
  padding: 30px;
}
.detailsbox li {
  list-style-type: none;
}
.detailsbox h2 {
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 45px;
  color: #32323a;
}

#blog{
  display: flex;
width:100%;
align-items: flex-start;
justify-content: flex-start;
flex-wrap: wrap;
}
.blogbloc {
  position: relative;
  background: #FFF;
  padding: 30px;
  max-width:380px;
  margin: 20px;
  min-height: 390px;
  border-radius: 10px;
}
.blogbloc img, .blogbloc video {
  width:100%;
}

.quotecontent {
  background: #34495e;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #FFF;
  position: relative;
  z-index: 2;
  padding: 35px;
}
.posttitle a {
  text-decoration: none;
  color: #32323a;
}
.posttitle a:hover {
  color: #adadad;
}
.posttitle ul {
  list-style-type: none;
}
.posttitle li {
  display: inline-block;
}
.findus {
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 20px;
  margin-left: 15em;
  margin-right: 15em;
  padding-bottom: 2em;
}
.findus p {
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  color: #28282e;
  text-transform: uppercase;
}
.googlemap {
  margin-left: 11em;
}
.aboutbox {
  margin-bottom: 30px;
  align-content: space-around;
  justify-content: center;
  display: flex;
  width: 100%;
}
.boxclient {
  margin-bottom: 30px;
  align-content: space-around;
  justify-content: center;
  display: flex;
  width: 100%;

}
.boxcontact {
  margin-bottom: 30px;
  align-content: space-around;
  justify-content: center;
  display: flex;
  width: 100%;
}
.sociallinksdetails li {
  display: inline-block;
  text-align: center;
}
